
/* 
.container {
    width: 100%;
    height: 10em;
    padding: 10px; 
    border: 1px solid rgb(0,0,0); 
}

.container p {
    height: 100%;
    width: 47%;
    float: left; 
    background-color: bisque;
    margin-right: 6%; 
}

.container p:last-child {
    margin-right: 0;
} */
html {
    box-sizing: border-box;
}

*,
*::before, 
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

#site-wrapper {
    display: flex; 
    flex-direction: column;
    min-width: 100vh;
    background-color: darkgray;
}

.content-container {
    margin: 0 auto; 
    position: relative; 
    display: block;
    overflow: hidden;
}

.section-wrapper {
    display: flex; 
    overflow: hidden;
    align-items: center;
}

.section-wrapper:last-child {
    flex-direction: column;
    padding-top: 3%; 
}

/* 
    ######################################################################################################
    ██   ██ ███████  █████  ██████  ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    ███████ █████   ███████ ██   ██ █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██   ██ ███████ ██   ██ ██████  ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 
    ######################################################################################################
*/

header {
    position: absolute;
    height: 0;
    width: 100%; 
    padding: 30vh; 
    background-color: antiquewhite;
}

header iframe {
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0; 
    left: 0; 
    width: 190vh;
    height: 100vh;
    object-fit: fill;
    inset: -21vh -6.5vh; 
}

#navbar {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 60%;
    height: 10%; 
    justify-content: space-between;  
    margin: 1% 20%; 
    padding: 0 2em; 
    z-index: 1;
}

.logo { 
    margin-bottom: auto;
}

#profile {
    display: inline-flex;
    margin-bottom: auto;
}

#menu {
    list-style: none;
}

#menu li {
    display: inline-block; 
    margin: 0 1em; 
}

#menu li a{
    color: white; 
    text-align: center; 
    text-decoration: none;
}

#menu li a:hover {
    color: black; 
    background-color: white; 
}

/* 
        ######################################################################################
        ███    ███  █████  ██ ███    ██     ███████ ████████ ██    ██ ██      ███████ ███████ 
        ████  ████ ██   ██ ██ ████   ██     ██         ██     ██  ██  ██      ██      ██      
        ██ ████ ██ ███████ ██ ██ ██  ██     ███████    ██      ████   ██      █████   ███████ 
        ██  ██  ██ ██   ██ ██ ██  ██ ██          ██    ██       ██    ██      ██           ██ 
        ██      ██ ██   ██ ██ ██   ████     ███████    ██       ██    ███████ ███████ ███████
        ###################################################################################### 
*/

main.content-container {
    width: 100vw; 
    height: 100vh; /* must be specified further */ 
    padding-top: 30px; 
    background-color: antiquewhite;
}

.section-divider {
    width: 100%; 
    height: 33%; /* formula is: .content-container:height / rows */
    padding: 1ex; 
}

.content-wrapper {
    width: 80%; 
    height: 90%; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: row; 
}

.content-wrapper div {
    height: 100%; 
    width: 90%; 
    margin: 0 5%; 
    background-color: aquamarine; 
}

/* 
    #########################################################################################################

    ███████  ██████   ██████  ████████ ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    █████   ██    ██ ██    ██    ██    █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██       ██████   ██████     ██    ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 

    ######################################################################################################### 
*/

footer {
    position: relative; 
    width: 100%; 
    height: 10vh; 
}

footer p {
    margin-top: 1ex;
    background-color: bisque;
    border: 2px solid rgb(0,0,0); 
}

#links {
    width: 70%;
    display: flex; 
    justify-content: space-between;
}
