/* 
.container {
    width: 100%;
    height: 10em;
    padding: 10px; 
    border: 1px solid rgb(0,0,0); 
}

.container p {
    height: 100%;
    width: 47%;
    float: left; 
    background-color: bisque;
    margin-right: 6%; 
}

.container p:last-child {
    margin-right: 0;
} */
:root {
    --gradient: linear-gradient(,
        rgb(60, 209, 250),
        rgb(63, 217, 191));
    --white: #f0f0f0;
}

html {
    box-sizing: border-box;
    font-family: JetBrainsMono Nerd Font, sans serif;
}

*,
*::before, 
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

#site-wrapper {
    display: flex; 
    flex-direction: column;
    min-width: 100vh;
    background-color: darkgray; 
}

.content-container {
    margin: 0 auto; 
    position: relative; 
    display: block;
    overflow: hidden;
}

.section-wrapper {
    display: flex; 
    overflow: hidden;
    align-items: center;
}

.section-wrapper:last-child {
    flex-direction: column;
    padding-top: 3ex; 
}

#test {
    font-size: 60px;
    background-color: aliceblue;
    position: absolute; /* dimana top = 0 dan left = 0*/
}
/* 
    ######################################################################################################
    ██   ██ ███████  █████  ██████  ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    ███████ █████   ███████ ██   ██ █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██   ██ ███████ ██   ██ ██████  ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 
    ######################################################################################################
*/

header {
    position: relative;
    height: calc(8rem + 1.9285vh);
    width: 100%; 
    z-index: 1; 
    /* background-color: antiquewhite; */
    background-image: url(https://seaofstarsgame.co/assets/dist/images/bg-pattern-sky-lg.png);

}

#navbar {
    position: absolute;
    top: 0; 
    left: 0; 
    width: 60%;
    height: 70px; 
    justify-content: space-between;   
    margin: 3% 20%; 
    padding: 0 2em; 
    z-index: 1;
    background-color: rgb(8, 33, 54);
    border-radius: 10px;
}

.logo { 
    height: 85px; 
    width: 201px; 
    margin-bottom: auto;
}

#profile {
    height: 40px; 
    width: 46px; 
    margin-left: 5rem; 
    margin-right: 1rem; 
    display: inline-flex;
    margin-bottom: auto;
}

#menu {
    height: 100%; 
    width: 50%;
    list-style: none;
    display: flex; 
    align-items: center;
}

#menu li {
    display: block; 
    width: 100%;
    height: 90%;
    border-left: 2px solid #0a4779;
}

#menu li:last-of-type {
    border-right: 2px solid #0a4779;
}

#menu li a{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0 .5rem; 
    width: 100%;
    height: 100%;
    color: white; 
    text-decoration: none;
    font-size: 18px;
}

#menu li:hover{
    background-image: linear-gradient(rgb(60, 209, 250),rgb(63, 217, 191)); 
}

#title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: 3;
}

#title img {
    height: 35vh;
    width: 75vh;
}


/* 
        ######################################################################################
        ███    ███  █████  ██ ███    ██     ███████ ████████ ██    ██ ██      ███████ ███████ 
        ████  ████ ██   ██ ██ ████   ██     ██         ██     ██  ██  ██      ██      ██      
        ██ ████ ██ ███████ ██ ██ ██  ██     ███████    ██      ████   ██      █████   ███████ 
        ██  ██  ██ ██   ██ ██ ██  ██ ██          ██    ██       ██    ██      ██           ██ 
        ██      ██ ██   ██ ██ ██   ████     ███████    ██       ██    ███████ ███████ ███████
        ######################################################################################
*/

main {
    position: absolute; 
    width: 100%; 
    height: fit-content; /* must be specified further */ 
    /* background-color: antiquewhite; */
    background-image: url(https://seaofstarsgame.co/assets/dist/images/bg-pattern-sky-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0; 
}


.content-wrapper {
    width: 1200px; 
    /* height: 100%;  */
    margin: 1rem auto; 
    padding: 1rem; 
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    position: relative;
    /* background-color: cornsilk;  */

}

.image-wrapper {
    background-color: #0a4779;
    margin: 1rem; 
    padding: 1rem; 
    max-width: 30%; 
    max-height: 50%; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}

.image-wrapper img {
    max-width: 100%;
    max-height: 80%;
    aspect-ratio: inherit;
    object-fit: fill;
}

.row {
    display: -ms-flexbox; 
    display: flex; 
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}

.col {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
    padding: 0 4px; 
}

.image-container {
    border-radius: 3px;
    margin-top: 10px; 
    padding: 1rem; 
    background-color: #fffaf4;
}

.image-container img {
    margin-bottom: 1rem; 
    vertical-align: middle;
    width: 100%;
}

/* 
    #########################################################################################################

    ███████  ██████   ██████  ████████ ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    █████   ██    ██ ██    ██    ██    █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██       ██████   ██████     ██    ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 

    ######################################################################################################### 
*/

footer {
    position: relative; 
    width: 100%; 
    height: 10vh;
    color: white;
    background-color: #131b21;
}

#links {
    width: 70%;
    display: flex; 
    padding-bottom: 1rem; 
    justify-content: space-between;
}
