/* 
.container {
    width: 100%;
    height: 10em;
    padding: 10px; 
    border: 1px solid rgb(0,0,0); 
}

.container p {
    height: 100%;
    width: 47%;
    float: left; 
    background-color: bisque;
    margin-right: 6%; 
}

.container p:last-child {
    margin-right: 0;
} */
:root {
    --gradient: linear-gradient(,
        rgb(60, 209, 250),
        rgb(63, 217, 191));
    --white: #fffaf4;
    --tan: #f7f1e5;
}

html {
    box-sizing: border-box;
    font-family: JetBrainsMono Nerd Font, sans serif;
}

*,
*::before, 
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

#site-wrapper {
    display: flex; 
    flex-direction: column;
    min-width: 100vh;
    background-color: darkgray; 
}

.content-container {
    margin: 0 auto; 
    position: relative; 
    display: block;
    overflow: hidden;
}

.section-wrapper {
    display: flex; 
    overflow: hidden;
    align-items: center;
}

.section-wrapper:last-child {
    flex-direction: column;
    padding-top: 3ex; 
}

#test {
    font-size: 60px;
    background-color: aliceblue;
    position: absolute; /* dimana top = 0 dan left = 0*/
}
/* 
    ######################################################################################################
    ██   ██ ███████  █████  ██████  ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    ███████ █████   ███████ ██   ██ █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██   ██ ███████ ██   ██ ██████  ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 
    ######################################################################################################
*/

header {
    position: relative;
    height: calc(8rem + 1.9285vh);
    width: 100%; 
    z-index: 1; 
    background-color: antiquewhite;
}

#navbar {
    position: fixed;
    top: .5rem; 
    left: 50%; 
    transform: translateX(-50%);
    width: 80%;
    height: 8%; 
    justify-content: space-between;   
    padding: 0 2em; 
    z-index: 9;
    background-color: rgb(8, 33, 54);
    border-radius: 10px;

    -webkit-box-shadow:0 0 10px rgb(60, 209, 250); 
    -moz-box-shadow: 0 0 10px rgb(60, 209, 250); 
    box-shadow:0 0 10px rgb(60, 209, 250)   ;
}

.logo { 
    height: 6vmax; 
    width: 15vmax;
    margin: 0 0 auto 1.5vmin; 
    transform: scale(1.25);
}

#profile {
    height: 3vmax; 
    width: 3.3vmax; 
    margin-left: 5rem; 
    margin-right: 1.5vmin; 
    display: inline-flex;
    margin-bottom: auto;
    transform: scale(1.35);
}

#menu {
    height: 100%; 
    width: 50%;
    list-style: none;
    display: flex; 
    align-items: center;
}

#menu li {
    display: block; 
    width: 100%;
    height: 90%;
    border-left: 2px solid #0a4779;
}

#menu li:last-of-type {
    border-right: 2px solid #0a4779;
}

#menu li a{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0 2vmin; 
    width: 100%;
    height: 100%;
    color: white; 
    text-decoration: none;
    font-size: 1.5vmax;
}

#menu li:hover{
    background-image: linear-gradient(rgb(60, 209, 250),rgb(63, 217, 191)); 
}

#title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: 3;
}

#title img {
    height: 35vh;
    width: 75vh;
}

.checkbox,
.full-nav{
    display: none; 
}


@media only screen and (max-width: 768px) {
    #navbar {
        display: none; 
    }

    .full-nav {
        z-index: 2;
    }
    
    .full-nav ul {
        list-style: none;
        text-align: center; 
    }
    
    .full-nav ul li {
        margin: 33px 0; 
    }

    .full-nav ul li a {
        color: #fff; 
        text-decoration: none;
        font-size: 2rem; 
        font-weight: 500;
        padding: 5px 50px; 
    }

    .full-nav ul li a:hover {
        font-style: bolder;
    }

    .checkbox {
        position: fixed;    
        display: block; 
        height: 4rem; 
        width: 4rem; 
        top: 20px; 
        right: 20px; 
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    img {
        width: 100%;
    }

    .logo {
        top: 30%; 
        left: 50%; 
        margin: 0; 
        transform: scale(1.5); 
    }

    hr {
        top: 50%; 
        background-image: url(https://seaofstarsgame.co/assets/dist/images/img-sep-blue-xs-2x.png);
        background-size: 316px 19px;
        background-position: center;
        background-repeat: none;
        height: 19px; 
        width: 40% ;
        border: none;;
    }
    
    .burger {
        position: fixed; 
        height: 4rem;
        width: 4rem;
        top: 20px; 
        right: 20px; 
        background-color: #0a4779;
        border-radius: 5px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow:0 0 10px rgb(60, 209, 250)   ;
    }

    .burger > span, 
    .burger > span::before, 
    .burger > span::after {
        display: block; 
        position: absolute;
        width: 60%; 
        height: 5px; 
        background-color: #f0f0f0;
        transition-duration: .25s;

    }

    .burger > span::before {
        content: ' '; 
        top: -13px; 
    }

    .burger > span::after {
        content: ''; 
        top: 13px; 
    }

    input[type="checkbox"]:checked ~ .full-nav{
        position: fixed;
        top: 0; 
        left: 0; 
        height: 100%; 
        width: 100%; 
        background-image: url(https://seaofstarsgame.co/assets/dist/images/bg-pattern-sky-lg.png);
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding-top: 30dvh;
        overflow: hidden;
    }

    input[type="checkbox"]:checked ~ .burger {
        z-index: 3;
    }

    input[type="checkbox"]:checked + .burger > span { 
        width: 70%;
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked + .burger > span::before{
        width: 100%;
        top: 0; 
        transform: rotate(0deg);
    }

    input[type="checkbox"]:checked + .burger > span::after {
        top: 0; 
        width: 100%;
        transform: rotate(90deg);
    }

}


/* 
        ######################################################################################
        ███    ███  █████  ██ ███    ██     ███████ ████████ ██    ██ ██      ███████ ███████ 
        ████  ████ ██   ██ ██ ████   ██     ██         ██     ██  ██  ██      ██      ██      
        ██ ████ ██ ███████ ██ ██ ██  ██     ███████    ██      ████   ██      █████   ███████ 
        ██  ██  ██ ██   ██ ██ ██  ██ ██          ██    ██       ██    ██      ██           ██ 
        ██      ██ ██   ██ ██ ██   ████     ███████    ██       ██    ███████ ███████ ███████
        ######################################################################################
*/

main {
    position: absolute; 
    width: 100%; 
    height: fit-content; /* must be specified further */ 
    margin-top: 3rem; 
    background-color: antiquewhite;
    z-index: 0; 
}
/* 
main .section-wrapper {
    padding-top: 3rem; 
} */

.content-wrapper { 
    width: 1000px; 
    height: 80svh; 
    margin: 3rem auto; 
    background-color: cornsilk; 
    display: flex; 
    flex-direction: row;
}

.sketch {
    max-width: 33%; 
}

.sketch img {
    max-width: 100%; 
    aspect-ratio: inherit;
    object-fit: fill;
    transform: scale(1.1); 
}

.details {
    height: 60%; 
    width:50%;
    padding-top: 3rem; 
    display: flex; 
    flex-direction: column;
    justify-content: space-between;

}

.slideshow-container {
    max-width: 100%; 
    margin: auto; 
    position: relative; 
}

.slides {
    display: none;
}

.prev,
.next {
    cursor: pointer; 
    position: absolute; 
    top: 50%; 
    width: auto; 
    margin-top: -22px; 
    padding: 16px; 
    color: white; 
    font-weight: bold; 
    font-size: 18px; 
    transition: .6s ease; 
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0; 
    border-radius: 3px 0 0 3px;
}

.prev:hover, 
.next:hover {
    color: #000; 
    background-color: cornsilk;
} 


/* 
    #########################################################################################################

    ███████  ██████   ██████  ████████ ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    █████   ██    ██ ██    ██    ██    █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██       ██████   ██████     ██    ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 

    ######################################################################################################### 
*/

footer {
    position: relative; 
    width: 100%; 
    height: 10vh;
    color: white;
    background-color: #0a4779;
}

#links {
    width: 70%;
    display: flex; 
    padding-bottom: 1rem; 
    justify-content: space-between;
}

