/* 
.container {
    width: 100%;
    height: 10em;
    padding: 10px; 
    border: 1px solid rgb(0,0,0); 
}

.container p {
    height: 100%;
    width: 47%;
    float: left; 
    background-color: bisque;
    margin-right: 6%; 
}

.container p:last-child {
    margin-right: 0;
} */
:root {
    --gradient: linear-gradient(,
        rgb(60, 209, 250),
        rgb(63, 217, 191));
    --white: #f0f0f0;
}

html {
    box-sizing: border-box;
    font-family: JetBrainsMono Nerd Font, sans serif;
}

*,
*::before, 
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

@media screen and (min-width: 768px) {

    #site-wrapper {
        display: flex; 
        flex-direction: column;
        min-width: 100vh;
        background-color: darkgray; 
    }
}

@media screen and (max-width: 768px) {
    #site-wrapper {
        display: flex; 
        flex-direction: column;
        min-width: 100dvw;
        background-color: antiquewhite;
    }
}


.content-container {
    margin: 0 auto; 
    position: relative; 
    display: block;
    overflow: hidden;
}

.section-wrapper {
    display: flex; 
    overflow: hidden;
    align-items: center;
}

.section-wrapper:last-child {
    flex-direction: column;
    padding-top: 3ex; 
}

#test {
    font-size: 60px;
    background-color: aliceblue;
    position: absolute; /* dimana top = 0 dan left = 0*/
}
/* 
    ######################################################################################################
    ██   ██ ███████  █████  ██████  ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    ███████ █████   ███████ ██   ██ █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██   ██ ███████ ██   ██ ██████  ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 
    ######################################################################################################
*/

header {
    position: relative;
    max-height: calc(48rem + 1.9285vh);
    width: 100%; 
    z-index: 1; 
    background-color: antiquewhite;
    aspect-ratio: 2/1;
}
.video-wrapper {
    position: absolute; 
    padding-top: 56.25%;
    height: 0;
    width: 100%;
}

.video-wrapper video {
    overflow: hidden;
    pointer-events: none;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
    height: 100%;
}

#navbar {
    position: fixed;
    top: .5rem; 
    left: 50%; 
    transform: translateX(-50%);
    width: 80%;
    height: 8%; 
    justify-content: space-between;   
    padding: 0 2em; 
    z-index: 9;
    background-color: rgb(8, 33, 54);
    border-radius: 10px;

    -webkit-box-shadow:0 0 10px rgb(60, 209, 250); 
    -moz-box-shadow: 0 0 10px rgb(60, 209, 250); 
    box-shadow:0 0 10px rgb(60, 209, 250)   ;
}

.logo { 
    height: 85px; 
    width: 201px;
    margin: auto; 
    transform: scale(1.25);
}

#profile {
    height: 40px; 
    width: 46px; 
    margin-left: 5rem; 
    margin-right: 1rem; 
    display: inline-flex;
    margin-bottom: auto;
    transform: scale(1.35);
}

#menu {
    height: 100%; 
    width: 50%;
    list-style: none;
    display: flex; 
    align-items: center;
}

#menu li {
    display: block; 
    width: 100%;
    height: 90%;
    border-left: 2px solid #0a4779;
}

#menu li:last-of-type {
    border-right: 2px solid #0a4779;
}

#menu li a{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0 .5rem; 
    width: 100%;
    height: 100%;
    color: white; 
    text-decoration: none;
    font-size: 20px;
}

#menu li:hover{
    background-image: linear-gradient(rgb(60, 209, 250),rgb(63, 217, 191)); 
}

#title {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translateX(-50%);
    object-fit: cover;
    z-index: 3;
}

.full-nav{
    display: none; 
}

@media only screen and (max-width: 991px) {
    #navbar {
        display: none; 
    }

    .full-nav {
        position: fixed;
        top: 0; 
        left: 0; 
        height: 100%; 
        width: 100%; 
        background-image: url(https://seaofstarsgame.co/assets/dist/images/bg-pattern-sky-lg.png);
        z-index: 2;
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding-top: 30dvh;
        overflow: hidden;
    }
    
    .full-nav ul {
        list-style: none;
        text-align: center; 
    }
    
    .full-nav ul li {
        margin: 15px 0; 
    }

    .full-nav ul li a {
        color: #fff; 
        text-decoration: none;
        font-size: 2rem; 
        font-weight: 500;
        padding: 5px 50px; 
    }

    .logo {
        top: 30%; 
        left: 50%; 
        margin: 0; 
        transform: scale(1.5); 
    }

    hr {
        top: 50%; 
        background-image: url(https://seaofstarsgame.co/assets/dist/images/img-sep-blue-xs-2x.png);
        background-size: 316px 19px;
        background-position: center;
        background-repeat: none;
        height: 19px; 
        width: 40% ;
        border: none;;
    }
    
    .burger {
        position: fixed; 
        height: 4rem;
        width: 4rem;
        top: 20px; 
        right: 20px; 
        background-color: #0a4779;
        border-radius: 5px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    .burger .line {
        display: block; 
        height: 4px; 
        width: 60%; 
        border-radius: 10px;
        background: #f0f0f0;
        margin: .3rem 0; 
    }

    .burger:active {
        
    }

}
/* 
        ######################################################################################
        ███    ███  █████  ██ ███    ██     ███████ ████████ ██    ██ ██      ███████ ███████ 
        ████  ████ ██   ██ ██ ████   ██     ██         ██     ██  ██  ██      ██      ██      
        ██ ████ ██ ███████ ██ ██ ██  ██     ███████    ██      ████   ██      █████   ███████ 
        ██  ██  ██ ██   ██ ██ ██  ██ ██          ██    ██       ██    ██      ██           ██ 
        ██      ██ ██   ██ ██ ██   ████     ███████    ██       ██    ███████ ███████ ███████
        ######################################################################################
*/

main {
    position: absolute; 
    width: 100%; 
    height: fit-content; 
    padding-top: 30px; 
    background-color: antiquewhite;
    z-index: 0; 
}

img {
   width: 100%; 
}
.section-divider {
    width: 100dvw; 
    height: fit-content;
    padding: 1ex; 
    position: relative;
    margin: 1rem auto; 
}

.section-divider:first-of-type{
    /* width: 1200px;  */
    height: 60dvh; 
    margin:auto; 
}

.content-wrapper {
    max-width: 80%;
    height: 100%; 
    margin: 1rem auto; 
    padding: 1rem; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: cornsilk; 
}

.poster {
    position: relative;
    background-size: cover;
    height: fit-content; 
    width: 90%;
    margin: 0 1%; 
    text-align: justify;
}

.poster h1 {
    margin-top: 2rem; 
    margin-bottom: 1rem;
    font-size: 26px;
    text-align: initial;
}


@media only screen and (min-width: 769px) {
    
    .section-divider:nth-of-type(odd) .poster h1{
        direction: rtl;
    }

    .section-divider:nth-of-type(odd) .content-wrapper{
        flex-direction: row-reverse;
    }

}

#character-poster img{ 
    position: absolute;
    left: 50%;  
    transform: translateX(-50%); 
    max-width: 80%;
    height: auto; 
}

.slideshow-container {
    max-width: 100%;
    margin: auto; 
    position: relative; 
}

.slides0, 
.slides1, 
.slides2,
.slides3 {
    display: none; 
}

.prev, 
.next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0; 
    border-radius: 3px 0  0 3px;
}

.prev:hover, 
.next:hover {
    color: #000;
    background-color: cornsilk;
}

@media screen and (max-width: 768px) {

    main{
        top: 0;
        left: 0; 
        width: 100svw;
        height: fit-content; 
    }

    .content-wrapper {
        max-width: 95%;
        flex-direction: column;
    }

    .section-divider:first-of-type{
        width: 95%; 
        height: 250px; 
        margin: 1em auto; 
    }


    .poster h1 {
        direction: ltr; 

    }
}

@media only screen and (max-width: 1080px) {

}

/* 
    #########################################################################################################

    ███████  ██████   ██████  ████████ ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    █████   ██    ██ ██    ██    ██    █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██       ██████   ██████     ██    ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 

    ######################################################################################################### 
*/

footer {
    position: relative; 
    width: 100%; 
    height: 10vh;
    color: white;
    background-color: #131b21;
}

#links {
    width: 70%;
    display: flex; 
    padding-bottom: 1rem; 
    justify-content: space-between;
}

/* @media only screen  (max-width:810px) {
    footer {
        display: none !important; 
    }
} */
