@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --gradient: linear-gradient(,
        rgb(60, 209, 250),
        rgb(63, 217, 191));
    --white: #f0f0f0;
    --tan: #f7f1e5;

}

html {
    box-sizing: border-box;
    font-family: 'Inter', sans serif;
}

*,
*::before, 
*::after {
    margin: 0; 
    padding: 0; 
    box-sizing: inherit;
}

#site-wrapper {
    display: flex; 
    flex-direction: column;
    min-width: 100vh;
    background-color: darkgray; 
}

@media screen and (max-width: 768px) {
    #site-wrapper {
        display: flex; 
        flex-direction: column;
        min-width: 100dvw;
        background-color: antiquewhite;
    }
}


.content-container {
    margin: 0 auto; 
    position: relative; 
    display: block;
    overflow: hidden;
}

.section-wrapper {
    display: flex; 
    overflow: hidden;
    align-items: center;
}

.section-wrapper:last-child {
    flex-direction: column;
    padding-top: 3ex; 
}

#test {
    font-size: 60px;
    background-color: aliceblue;
    position: absolute; /* dimana top = 0 dan left = 0*/
}

img { width: 100%; }
/* 
    ######################################################################################################
    ██   ██ ███████  █████  ██████  ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    ███████ █████   ███████ ██   ██ █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██   ██ ██      ██   ██ ██   ██ ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██   ██ ███████ ██   ██ ██████  ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 
    ######################################################################################################
*/

header {
    position: relative;
    height: calc(8rem + 1.9285vh);
    width: 100%; 
    z-index: 1; 
    background-image: url(https://seaofstarsgame.co/assets/dist/images/bg-pattern-sky-lg.png);
}

main {
    background-image: url(https://seaofstarsgame.co/assets/dist/images/bg-pattern-sky-lg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#navbar {
    position: fixed;
    top: .5rem; 
    left: 50%; 
    transform: translateX(-50%);
    width: 80%;
    height: 8%; 
    justify-content: space-between;   
    padding: 0 2em; 
    z-index: 9;
    background-color: rgb(8, 33, 54);
    border-radius: 10px;

    -webkit-box-shadow:0 0 10px rgb(60, 209, 250); 
    -moz-box-shadow: 0 0 10px rgb(60, 209, 250); 
    box-shadow:0 0 10px rgb(60, 209, 250)   ;
}

.logo { 
    height: 6vmax; 
    width: 15vmax;
    margin: 0 0 auto 1.5vmin; 
    transform: scale(1.25);
}

#profile {
    height: 3vmax; 
    width: 3.3vmax; 
    margin-left: 3vmin; 
    margin-right: 1.5vmin; 
    display: inline-flex;
    margin-bottom: auto;
    transform: scale(1.35);
}

#menu {
    height: 100%; 
    width: 50%;
    list-style: none;
    display: flex; 
    align-items: center;
}

#menu li {
    display: block; 
    width: 100%;
    height: 90%;
    border-left: 2px solid #0a4779;
}

#menu li:last-of-type {
    border-right: 2px solid #0a4779;
}

#menu li a{
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0 2vmin; 
    width: 100%;
    height: 100%;
    color: white; 
    text-decoration: none;
    font-size: 1.5vmax;
}

#menu li:hover{
    background-image: linear-gradient(rgb(60, 209, 250),rgb(63, 217, 191)); 
}


.checkbox,
.full-nav{
    display: none; 
}


@media only screen and (max-width: 768px) {
    #navbar {
        display: none; 
    }

    .full-nav {
        z-index: 2;
    }
    
    .full-nav ul {
        list-style: none;
        text-align: center; 
    }
    
    .full-nav ul li {
        margin: 33px 0; 
    }

    .full-nav ul li a {
        color: #fff; 
        text-decoration: none;
        font-size: 2rem; 
        font-weight: 500;
        padding: 5px 50px; 
    }

    .full-nav ul li a:hover {
        font-style: bolder;
    }

    .checkbox {
        position: fixed;    
        display: block; 
        height: 4rem; 
        width: 4rem; 
        top: 20px; 
        right: 20px; 
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .logo {
        top: 30%; 
        left: 50%; 
        margin: 0; 
        transform: scale(1.5); 
    }

    hr {
        top: 50%; 
        background-image: url(https://seaofstarsgame.co/assets/dist/images/img-sep-blue-xs-2x.png);
        background-size: 316px 19px;
        background-position: center;
        background-repeat: none;
        height: 19px; 
        width: 40% ;
        border: none;;
    }
    
    .burger {
        position: fixed; 
        height: 4rem;
        width: 4rem;
        top: 20px; 
        right: 20px; 
        background-color: #0a4779;
        border-radius: 5px;
        display: flex; 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;
        box-shadow:0 0 10px rgb(60, 209, 250)   ;
    }

    .burger > span, 
    .burger > span::before, 
    .burger > span::after {
        display: block; 
        position: absolute;
        width: 60%; 
        height: 5px; 
        background-color: #f0f0f0;
        transition-duration: .25s;

    }

    .burger > span::before {
        content: ' '; 
        top: -13px; 
    }

    .burger > span::after {
        content: ''; 
        top: 13px; 
    }

    input[type="checkbox"]:checked ~ .full-nav{
        position: fixed;
        top: 0; 
        left: 0; 
        height: 100%; 
        width: 100%; 
        background-image: url(https://seaofstarsgame.co/assets/dist/images/bg-pattern-sky-lg.png);
        display: flex; 
        flex-direction: column;
        align-items: center;
        padding-top: 30dvh;
        overflow: hidden;
    }

    input[type="checkbox"]:checked ~ .burger {
        z-index: 3;
    }

    input[type="checkbox"]:checked + .burger > span { 
        width: 70%;
        transform: rotate(45deg);
    }

    input[type="checkbox"]:checked + .burger > span::before{
        width: 100%;
        top: 0; 
        transform: rotate(0deg);
    }

    input[type="checkbox"]:checked + .burger > span::after {
        top: 0; 
        width: 100%;
        transform: rotate(90deg);
    }
}

/* 
        ######################################################################################
        ███    ███  █████  ██ ███    ██     ███████ ████████ ██    ██ ██      ███████ ███████ 
        ████  ████ ██   ██ ██ ████   ██     ██         ██     ██  ██  ██      ██      ██      
        ██ ████ ██ ███████ ██ ██ ██  ██     ███████    ██      ████   ██      █████   ███████ 
        ██  ██  ██ ██   ██ ██ ██  ██ ██          ██    ██       ██    ██      ██           ██ 
        ██      ██ ██   ██ ██ ██   ████     ███████    ██       ██    ███████ ███████ ███████
        ######################################################################################
*/

main {
    position: absolute; 
    width: 100%; 
    height: fit-content; /* must be specified further */ 
    margin-top: 3rem; 
    background-color: antiquewhite;
}
/* 
main .section-wrapper {
    padding-top: 3rem; 
} */

.content-wrapper { 
    position: relative; 
    min-width: 50%; 
    max-width: 70%;
    height: fit-content;  
    margin: 3rem auto; 
    padding: 1rem; 
    /* background-color: rgb(8, 33, 54);    */
    display: flex; 
    flex-direction: column;
    align-items: center;
    /* box-shadow: 0 0 50rem  #f7f1e5 inset; */
    box-shadow: 0 10px 50px #131b21;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    /* justify-content: center; */
}

.title {
    display: flex; 
    align-items: center;
    max-width: 50%; 
    height: 25%;
    position: relative; 
    margin: 2rem 0; 
    /* top: 0; 
    left: 50%;  */
    /* transform: scale(1.23);  */
}

.title img {
    max-width: 100%;
    height: auto; 
    aspect-ratio: inherit; 
    object-fit: contain;
    transform: scale(1.25); 
}

form {
    display: inline-block; 
    position: relative;
    width: 70%; 
}

label {
    color : var(--white); 
}

.form-group {
    display: flex; 
    flex-direction: column;
    margin: 2rem; 
}

.form-group input {
    outline: none; 
    padding: .5rem 1rem; 
    height: 10%; 
    border: 2px solid white; 
    border-radius: .3rem; 
    font-size: 2vmin ;
}

a {
    text-decoration: none;
    color: rgb(60, 209, 250)
}

#signup-btn {
    margin: 3% 0; 
    width: 60%; 
    height: 5rem; 
    font-family: inherit;
    font-size: 32px;
    border: none;
    border-radius: 3px;
    transition: 1s; 
    color: white; 
    background-image: linear-gradient(45deg, rgb(87, 33, 204), rgb(60, 209, 250),rgb(63, 217, 191));
    background-size: 300% auto;
    background-position: left;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}

#signup-btn:hover {
    color: #131b21;   
    background-position: right;
    box-shadow: 0 0 10px #f7f1e5;
}

.confirm {
    width: fit-content;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
}

#err {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.err-msg {
    list-style: none; 
    font-size: 1.5vmax; 
    color: red;
}

.err-msg li {
    text-align: center;
}

.form-group > select {
    outline: none; 
    padding: .5rem 1rem; 
    height: 10%; 
    border: 2px solid white; 
    border-radius: .3rem; 
    font-size: 2vmin ;
}

@media only screen and (max-width: 768px) {
    .content-wrapper {
        min-width: 90%;
    }

    #reg-form {
        min-width: 90%;
    }

    .form-group input,
    .form-group select {
        font-size: smaller;
        height: 1%; 
    }

    .confirm {
        max-width: 70%;
    }

    #signup-btn {
        font-size: 6vmin;
    }
}   
/* 
    #########################################################################################################

    ███████  ██████   ██████  ████████ ███████ ██████      ███████ ████████ ██    ██ ██      ███████ ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██     ██         ██     ██  ██  ██      ██      ██      
    █████   ██    ██ ██    ██    ██    █████   ██████      ███████    ██      ████   ██      █████   ███████ 
    ██      ██    ██ ██    ██    ██    ██      ██   ██          ██    ██       ██    ██      ██           ██ 
    ██       ██████   ██████     ██    ███████ ██   ██     ███████    ██       ██    ███████ ███████ ███████ 

    ######################################################################################################### 
*/

footer {
    position: relative; 
    width: 100%; 
    height: 10vh;
    color: white;
    background-color: #131b21;
}

#links {
    width: 30%;
    display: flex; 
    padding-bottom: 1rem; 
    justify-content: space-around;
}

#links i {
    cursor: pointer;
}
