html {
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0; 
    margin: 0; 
    box-sizing: inherit;
}

div {
    border: 1px solid rgb(245, 68, 68);
}

.navbar {
    /* overflow: hidden; */
    /* margin: 0;  */
    /* padding: 0;  */
    display: flex;
    justify-content: space-between;
    border: 2px solid rgb(0,0,0);
}

.logo {
    float: left;
    display: inline-flex; 
    border: 1px solid rgb(100,100, 100);
}

.profile {
    display: inline-flex;
    margin: 0; 
    padding: 0; 
    border: 1px solid rgb(100,100, 100);
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0; 
    border: 1px solid rgb(123,1,123); 
}

.menu li {
    display: inline-block; 
    border: 1px dotted blueviolet;
}

.menu li a{
    height: inherit; 
    color: black; 
    text-align: center; 
    padding: 10px 14px; 
    text-decoration: none;
}

.menu li a:hover {
    color: white; 
    background-color: black; 
}
